


/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/



body {
  background-color: #F7F4EE;
}

.tahani {
  background-color: #F7F4EE;
}

.hrtahani {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.headertahani {
  color: #03283E;
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 30px;
  padding: 10px;
}

.ptahani {
  font-size: 25px;
}

.imgtahani {
  float: right;
  border-radius: 50%;
  margin-top: -30px;
  width: 40%;
}

/* Navigation Bar */
.NavigationBartahani div {
  position: fixed;
  top: 0;
  float: left;
}

nav.stickytahani {
  position: sticky;
}

ul li.NavigationBartahani {
  display: inline;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

.NavigationBartahani ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.NavigationBartahani nav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: auto;
}

.NavigationBartahani {
  position: fixed;
  top: 0;
  float: left;
  margin-left: 15px;
  padding: 10px;
  overflow: hidden;
}

.youcan {
  color: white;
  background-color: #03283E;
  text-align: center;
  border-radius: 30%;
}

.contactbartahani {
  text-align: center;
  font-size: 20px;
}

/* About Me */
.aboutme {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.aboutmetext {
  text-align: center;
  font-size: 21px;
}

/* Education */
.educationtahani .education_title {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  width: 300px;
  height: 50px;
  background-color: #03283E;
  transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px auto 0 30px;
}

.educationtahani .education1 {
  text-align: left;
  font-size: 23px;
  margin-left: 30px;
}

/* Languages */
.languagestahani {
  text-align: right;
  float: right;
  padding-left: 0.1px;
  padding-inline: 10px;
  display: block;
  margin-top: -205px;
  margin-bottom: -100px;
}

.languagestahani .languages_title {
  font-size: 20px;
  width: 300px;
  height: 50px;
  background-color: #03283E;
  transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px auto -50px;
  margin-right: 30px;
}

.languagestahani .languages_list {
  text-align: right;
  font-size: 23px;
}

.languagestahani ul.languages_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  padding-left: 50px;
  padding-inline: 100px;
  margin-left: -100px;
}

/* Skills Highlights */
.skills_highlights {}

.skills_highlights .skills_highlights_title {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  width: 300px;
  height: 50px;
  background-color: #03283E;
  transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px auto 0 30px;
}

.skills_highlights .skills_highlights_list {
  margin-top: -40px;
}

.skills_highlights .skills_highlights_list li {
  text-align: left;
  font-size: 23px;
  list-style-type: none;
}

/* Technical Skills */
.technical_skills {
  text-align: right;
  float: right;
  padding-left: 0.1px;
  padding-inline: 10px;
  display: block;
  margin-top: -152px;
}

.technical_skills .technical_skills_title {
  font-size: 20px;
  width: 300px;
  height: 50px;
  background-color: #03283E;
  transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px auto -100px;
  margin-right: 30px;
}

.technical_skills .technical_skills_list {
  text-align: right;
  font-size: 23px;
}

.technical_skills ul.technical_skills_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  padding-left: 50px;
  padding-inline: 100px;
  margin-top: -40px;
}

/* Experience */
.experiencetahani .experience_title {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  width: 300px;
  height: 50px;
  background-color: #03283E;
  transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px auto 0 30px;
}

.experiencetahani .experience_list {
  text-align: left;
  font-size: 23px;
  list-style-type: none;
  margin-top: -40px;
}

/* Certifications */
.certifications .certifications_title {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  width: 300px;
  height: 50px;
  background-color: #03283E;
  transform: skew(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px auto 0 30px;
}

.certifications .certifications_list {
  text-align: left;
  font-size: 23px;
  list-style-type: none;
  margin-top: -40px;
}

/* Links */
a:link, a:visited {
  background-color: #A8C8CC;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: inherit;
  display: inline-flex;
}

a:hover, a:active {
  background-color: #5D7275;
}

/* Contact Me */
.contactmetahani {
  color: #03283e;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  border-left: 6px solid #03283e;
  margin-left: 10px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color: grey; left: 0px; top: 0px;}
  25%  {background-color: lightgrey; left: 200px; top: 0px;}
}

/* Form */
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #03283e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5D7275;
}

.containertahani {
  border-radius: 10px;
  background-color: #aeb9c1;
  padding: 5px;
}

#subject {
  height: 200px;
}

/* Media Queries */
@media (min-width: 320px) and (max-width: 767px) {
  .hrtahani {
    width: 80%;
    margin: 0 auto;
  }

  .headertahani {
    font-size: 24px;
    margin-top: